<html lang="en">
<%- include( '../partials/header.ejs') %>

    <body>
        <%- include( '../partials/nav.ejs') %>
            <div class="content">
                <h2>About Us</h2>
                <p>Pichub is a picstore to capture your memories..</p>
                <p> pichub keep your pics safe.</p>
                <p>pichub easy for reference..</p>
            </div>

            <%- include( '../partials/footer.ejs') %>
    </body>

</html>