
<%- include('../partials/header'); -%>

<ul class="recipes">
 
  <li class="recipe">
    <img src="/imgs/5.png" alt="smoothie recipe icon">
    <h4>elephant view hike</h4>
    <p>tired,bored and happy.</p>
    <p>john propose to mary funny..</p>
  </li>
  <li class="recipe">
    <img src="/imgs/1.jpeg" alt="">
    <h4>elephant view hike</h4>
    <p>tired,bored and happy.</p>
    <p>john propose to mary</p>
  </li>
  <li class="recipe">
    <img src="/imgs/2.jpeg" alt="smoothie recipe icon">
    <h4>elephant view hike</h4>
    <p>tired,bored and happy.</p>
    <p>john propose to mary</p>

  </li>
  <li class="recipe">
    <img src="/imgs/3.jpg" alt="smoothie recipe icon">
    <h4>elephant view hike</h4>
    <p>tired,bored and happy.</p>
    <p>john propose to mary</p>
  </li>
  <li class="recipe">
    <img src="/imgs/4.jpg" alt="smoothie recipe icon">
    <h4>elephant view hike</h4>
    <p>tired,bored and happy.</p>
    <p>john propose to mary</p>
  </li>
</ul>

<%- include('../partials/footer'); -%>